@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap%27');

body {
    background-color: #242424;
}
html, body {
    display: flex;
    font-family: 'Permanent Marker', cursive;
    flex-direction: column;
    height: 100%;
    margin: 0px;
}
.content-wrapper {
    display: flex;
    height: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 70px;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;
    color: white;
    border-bottom: 10px solid white;
    padding-right: 50px;
    padding-left: 50px;
}

.levels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    gap: 10px;
    font-family: 'Permanent Marker', cursive;
    color: white;
}

.level {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 150px;
    border: 10px solid white;
    text-decoration: none;
    color: white;
}

.level:hover {
    background-color: #6d5f5f;
    transition: all ease-in-out 300ms;
}

.all {
    display: flex;
    justify-content: space-around;
}
.play-button {
    color: white;
    width: 400px;
    height: 150px;
    border: 10px solid white;
    text-align: center;
    font-size: 100px;
    background-color: black;
    text-decoration: none;
}
.play-button:hover {
    transition: all 0.2s;
    background-color: #615c5c;
    cursor: pointer;
}
.footer {
    display: flex;
    height: 30%;
    align-items: flex-end;
    justify-content: space-between;
    color: white;
}
.about {
    text-decoration: none;
    color: white;
    width: 60px;
    height: 20px;
    border: 3px solid white;
    padding: 10px;
}
.about:hover {
    transition: all 0.2s;
    background-color: #615c5c;
    cursor: pointer;
}
<<<<<<< HEAD
/*Game*/
.left-side {
    width: 30%;
    height: 100%;
    border-right: 10px solid white;
    box-shadow: white;
    color: white;
    font-size: 50px;
}
.right-side {
    width: 70%;
    height: 100%;
}
.time {
    height: 20%;
    border-bottom: 10px solid white ;
    justify-content: center;
    align-items: center;
    display: flex;
}
.flips {
    height: 20%;
    border-bottom: 10px solid white ;
    align-items: center;
    justify-content: center;
    display: flex;
}
.drip {
    height: 40%;
    border-bottom: 10px solid white ;
    display: flex;
}
.drip img {
    object-fit: ;
}
.quit {
    display: flex;
    height: 20%;
    font-size: 50px;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}
.quit:hover {
    background-color: red;
    transition: ease-in-out;
}
.quit a {
    text-decoration: none;
    color: white;
}
.wrapper {
    height: 100%;
    display: flex;
    font-family: 'Permanent Marker', cursive;
}
.card {
    height: 300px;
    width: 150px;
}
=======

.goku {
    width: 100%;
    height: auto;
}
>>>>>>> aae9ef5a66d8b07e6ce3d2af06ad90f70f1a92b5
