@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap%27');

body {
    background-color: #242424;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-family: 'Permanent Marker', cursive;
    color: white;
    border-bottom: 10px solid white;
    padding-right: 50px;
    padding-left: 50px;
}

.levels {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    gap: 10px;
    font-family: 'Permanent Marker', cursive;
    color: white;
}

.level {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 150px;
    border: 10px solid white;
}

.level:hover {
    background-color: #6d5f5f;
    transition: all ease-in-out 300ms;
}

.all {
    display: flex;
    justify-content: space-around;
}
